<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/hayan/DemoQaWinter24"><classes><class name="demoqa.elements.TextBoxTests"><methods><include name="checkFullNameField"/><include name="checkEmailField"/><include name="checkCurrentAddressField"/><include name="checkPermanentAddressField"/><include name="submitForm"/></methods></class><class name="demoqa.locators.BasicLocators"><methods><include name="findByIdTest"/></methods></class><class name="demoqa.locators.DZ"><methods><include name="dos"/></methods></class><class name="demoqa.locators.WaitsDemo"><methods><include name="findByIdTest"/></methods></class><class name="demoqa.locators.cher"><methods><include name="fillElements"/></methods></class><class name="demoqa.locators.coverSamolet"><methods><include name="dostavka"/></methods></class></classes></test></suite>